body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

:root {
    --cell-size: 150px;
    --mark-size: calc(var(--cell-size) * 0.9);
}

h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.2em;  
}

h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.1rem;
    text-decoration: underline 2px grey;
}

h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.1rem;
}

.grid {
    /* margin-top: -100px; */
    /* width: 100vw; */
    /* height: 100vh; */
    display: grid;
    grid-template-columns: repeat(3,auto); /*sets what was 9 columns into 3x3*/
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.box {
    width: var(--cell-size);
    height: var(--cell-size);
    /* border: 3px solid #444; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box.x::before,
/* creates the first line of the x */
.box.x::after {
  /* creates the second line of the x */
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  /* width is 15 percent of the cell */
  height: var(--mark-size);
  background-color: #DBC0FF;
}

.box.x::before {
  transform: rotate(45deg);
}

.box.x::after {
  transform: rotate(-45deg);
}

.box.o::before,
.box.o::after {
  content: ""; /*renders the before and after elements*/
  position: absolute;
  border-radius: 50%;
}

/* larger circle */
.box.o::before {
  width: var(--mark-size);
  height: var(--mark-size);
  background-color: #C0FFFB;
}

.box.o::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}

.btn-custom {
    border-radius: 10px;
    color:#18201F  ;
    background-color: #E7FFFD  ;
    border-width: 0px;
    width: 150px;
    font-weight: 100px;
}

h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

