body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

:root {
    --cell-size: 150px;
}

h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.2em;  
}

/* h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.1rem;
    text-decoration: underline 2px grey;
} */

h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.1rem;
}

.grid {
    /* margin-top: -100px; */
    /* width: 100vw; */
    /* height: 100vh; */
    display: grid;
    grid-template-columns: repeat(3,auto); /*sets what was 9 columns into 3x3*/
    /* justify-content: center;
    justify-items: center;
    align-items: end;
    align-content: end; */
}

.box {
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -40px;
    cursor: pointer;
}

.grid div {
    color: #90BFBC;
    font-size: 150px;
    padding: 75px;
    padding-bottom: 100px;
}


.btn-custom {
    border-radius: 10px;
    color:#18201F  ;
    background-color: #EFFFFE;
    border-width: 1px;
    border-color: #789F9D;
    width: 150px;
    font-weight: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    top: -50px;
}

.player-info {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.1rem;
    background-color: #EFFFFE;
    box-shadow: 8px 8px 5px #789F9D;
    border-radius: 8%;
}

.player-info h2 {
    text-decoration: underline 2px solid #789F9D;
}

